<div class="vacancies-block__item"><img src="[[+vacancy_img]]" alt="">
                <div class="vacancies-block__item-info">
                  <h2>[[+vacancy_place]]<div class="button-block"><span></span><span></span><span></span></div>
                  </h2>
                  <div class="vacancies-block__item-info__block">
                    <p>[[+vacancy_desc]]</p><a class="button" href="/">Подать заявку</a>
                  </div>
                </div>
              </div>