extends ../../layout/main

block variables
	-var title = 'Портфолио(список)'

block content
	section.banner-content
		.banner-content__header
			h2 
				img.header-left(src="../../assets/img/service/service-arrow-prev.svg", alt="")
				| Городу
				img.header-right(src="../../assets/img/service/service-arrow.svg", alt="")
		.banner-content-block
			.banner-content-block__item(style="background:url('../../assets/img/banner_1.jpg') center no-repeat; background-size: cover;")
				.banner-content-block__item-submenu.active-menu
					ul.banner-content-block__item-submenu__body
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
				.banner-content-block__item-bg
			.content
				.content-block.google
					section.portfolio-list
						h3.subtitle 
							span
							| следим за трендами
						h2.title Социальные сети
						include ../../modules/cards-block
						a(href="/").button Показать ещё
						include ../../modules/section-form
