extends ../layout/main

block variables
	-var title = 'Услуги'

block content
	section.banner-content
		.banner-content__header
			h2 
				img.header-left(src="../assets/img/service/service-arrow-prev.svg", alt="")
				| Городу
				img.header-right(src="../assets/img/service/service-arrow.svg", alt="")
		.banner-content-block
			.banner-content-block__item(style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;")
				.banner-content-block__item-submenu.active-menu
					ul.banner-content-block__item-submenu__body
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель	
				.banner-content-block__item-bg
			.content
				.content-block.google
					include ../modules/banner-page		
					section.section.content-projects
						h3.subtitle
							span
							| делали с удовольствием
						h2.title Реализованные проекты
						.content-projects__block
							.content-projects__block-banner.swiper-container
								.swiper-wrapper
									.content-projects__block-banner__item.swiper-slide
										img(src="../assets/img/service/project-main.jpg", alt="")
									.content-projects__block-banner__item.swiper-slide
										img(src="../assets/img/map.jpg", alt="")
									.content-projects__block-banner__item.swiper-slide
										img(src="../assets/img/service/project-main.jpg", alt="")
									.content-projects__block-banner__item.swiper-slide
										img(src="../assets/img/service/project-main.jpg", alt="")
									.content-projects__block-banner__item.swiper-slide
										img(src="../assets/img/service/project-main.jpg", alt="")
							.content-projects__block-img.swiper-container
								.swiper-wrapper
									.content-projects__block-img__item.swiper-slide
										img(src="../assets/img/service/project_1.jpg", alt="")
									.content-projects__block-img__item.swiper-slide
										img(src="../assets/img/service/project_2.jpg", alt="")
									.content-projects__block-img__item.swiper-slide
										img(src="../assets/img/service/project_3.jpg", alt="")
									.content-projects__block-img__item.swiper-slide
										img(src="../assets/img/service/project_4.jpg", alt="")
									.content-projects__block-img__item.swiper-slide
										img(src="../assets/img/service/project_5.jpg", alt="")
							.content-projects__block-text
								p С уверенностью заявляем, новогоднее оформление – наша визитная карточка. Изучили все нюансы и тонкости за более чем 10 лет практики. Смонтировали более 300 объектов по России.
								p Превращаем улицы городов в сказочные декорации. Разнообразие форм и элементов световых конструкций даёт возможность подобрать презентабельный вариант на любой бюджет. 
					section.content-advantages
						h3.subtitle
							span
							| ответственный подход
						h2.title Приемущества работы с нами
						.content-advantages-block
							.content-advantages-block__item
								.content-advantages-block__item-block
									img(src="../assets/img/service/service-adv_1.svg", alt="")
								h3 Сварка чёрных и цветных металлов любой сложности и размеров
							.content-advantages-block__item
								.content-advantages-block__item-block
									img(src="../assets/img/service/service-adv_2.svg", alt="")
								h3 Работаем с широким спектром наименований световой продукции
							.content-advantages-block__item
								.content-advantages-block__item-block
									img(src="../assets/img/service/service-adv_3.svg", alt="")
								h3 В осенние месяцы увеличиваем штат сотрудников на выполнение новогодних объектов до 250 человек
							.content-advantages-block__item
								.content-advantages-block__item-block
									img(src="../assets/img/service/service-adv_4.svg", alt="")
								h3 Наши дизайнеры знают множество необычных способов применения уличных гирлянд
							.content-advantages-block__item
								.content-advantages-block__item-block
									img(src="../assets/img/service/service-adv_5.svg", alt="")
								h3 Имеем опыт реализации особо срочных заказов
					section.content-portfolio
						.title-block.alt-arrow
							.title-block__text
								h3.subtitle 
									span
									| говорит сама за себя
								h2.title Работа, за которую не стыдно
							.title-block__buttons
								.slider-prev.portfolio-section-prev
									img(src="../assets/img/service/service-arrow-prev.svg", alt="")
									p назад
								.slider-next.portfolio-section-next
									p Вперёд
									img(src="../assets/img/service/service-arrow.svg", alt="")
						include ../modules/portfolio-slider
					section.content-form__item
						include ../modules/form
						p Заполните форму и наш менеджер свяжется с вами в ближайшее время
					section.content-process
						.title-block.alt-arrow
							.title-block__text
								h3.subtitle 
									span
									| сложно, но оно того стоит
								h2.title Производственный процесс
							.title-block__buttons
								.slider-prev.content-process__prev
									img(src="../assets/img/service/service-arrow-prev.svg", alt="")
									p назад
								.slider-next.content-process__next
									p Вперёд
									img(src="../assets/img/service/service-arrow.svg", alt="")
						.content-process__block
							.content-process__nav.swiper-container
								.swiper-wrapper
									.content-process__nav-item.swiper-slide(style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover")
									.content-process__nav-item.swiper-slide(style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover")
									.content-process__nav-item.swiper-slide(style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover")
									.content-process__nav-item.swiper-slide(style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover")
									.content-process__nav-item.swiper-slide(style="background:url(../assets/img/service/process_1.jpg) no-repeat; background-size:cover")
							.content-process__for.swiper-container
								.swiper-wrapper
									.content-process__for-item.swiper-slide
										//- (style="background:url('../assets/img/service/process_5.jpg') center no-repeat; background-size: cover;")
										img(src="../assets/img/service/process_5.jpg", alt="")
									.content-process__for-item.swiper-slide
										img(src="../assets/img/service/process_5.jpg", alt="")
									.content-process__for-item.swiper-slide
										img(src="../assets/img/service/process_5.jpg", alt="")
									.content-process__for-item.swiper-slide
										img(src="../assets/img/service/process_5.jpg", alt="")
									.content-process__for-item.swiper-slide
										img(src="../assets/img/service/process_5.jpg", alt="")
					section.section.content-steps
						h3.subtitle
							span
							| серьёзный подход
						h2.title Порядок нашей работы
						.content-steps__block
							.content-steps__block-item
								.content-steps__block-item__box
									span.num 01
								p Персональный менеджер выясняет требования к проекту 
							.content-steps__block-item
								.content-steps__block-item__box
									span.num 02
								p Создание набросков  в течение одного-двух дней
							.content-steps__block-item
								.content-steps__block-item__box
									span.num 03
								p Разработка и презентация проекта (от 5-ти, до 8-ми дней)
							.content-steps__block-item
								.content-steps__block-item__box
									span.num 04
								p Подготовка точной сметы 
							.content-steps__block-item
								.content-steps__block-item__box
									span.num 05
								p Изготовление объекта и монтаж 
					section.content-service
						h3.subtitle
							span
							| абсолютно индивидуальные
						h2.title Похожие услуги
						.content-service__block.slide-block
							include ../modules/blog-item
							include ../modules/blog-item
							include ../modules/blog-item	
					include ../modules/section-form