footer.footer
  .container
    .footer-block
      ul.footer-block__menu
        li
          a(href="") Блог
        li
          a(href="") Каталог
        li
          a(href="") Портфолио
        li
          a(href="") О нас
        li
          a(href="") Контакты
    .footer-block
      ul.footer-block__info
        li
          a(href="tel:+73422480442") +7 (342) 248-04-42
        li
          a(href="mailto:art@skprm.ru") art@skprm.ru
        li
          p г. Пермь, ул. Коломенская 61, 3 этаж.
      ul.footer-block__social
        li
          a(href="")
            img(src="../../assets/img/footer-inst.svg", alt="")
        li
          a(href="")
            img(src="../../assets/img/footer-vk.svg", alt="")
        li
          a(href="")
            img(src="../../assets/img/footer-facebook.svg", alt="")
        li
          a(href="")
            img(src="../../assets/img/footer-zen.svg", alt="")
        li
          a(href="")
            img(src="../../assets/img/footer-be.svg", alt="")