header.header
  .container
    .header-block
      .header-logo
        a(href="/")
          img(src="../../assets/img/header_logo.svg", alt="")
      .header-button
        a(href="#") Обсудить проект
      .header-menu__button
        a(href="#") 
          span
    .header-menu__block
      ul.header-menu__mainline
        li.header-menu__mainline-item
          .main-link
            a(href="/blog/") Блог
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
            </svg>
        li.header-menu__mainline-item
          .main-link
            a(href="/service/") Каталог
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
            </svg>
          ul.header-menu__subline
            li
              a(href="") Городу
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
              </svg>

            li
              a(href="") Магазинам
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
              </svg>
            li
              a(href="") Предприятию
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
              </svg>
            li
              a(href="") Гос учреждениям
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
              </svg>
            li
              a(href="") Торговому центру
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
              </svg>
        li.header-menu__mainline-item
          .main-link
            a(href="/portfolio/") Портфолио
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
            </svg>
        li.header-menu__mainline-item
          .main-link
            a(href="/about/") О нас
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
            </svg>
          ul.header-menu__subline
            li
              a(href="/about/") О компании
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
              </svg>
            li
              a(href="/reviews/") Отзывы
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
              </svg>
            li
              a(href="/vacancies/") Вакансии
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
              </svg>
            li
              a(href="/articles/") Статьи
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
              </svg>
        li.header-menu__mainline-item
          .main-link
            a(href="/contacts/") Контакты
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.2148 24.7837L23.9986 12.9999L12.2148 1.21619" stroke="#A3A3A3" stroke-width="1.47"/>
            </svg>
