block variables

doctype html
html(lang="ru-RU")
	head
		//- metatgs
		meta(charset="utf-8")
		meta(class="viewport" name="viewport" content="width=device-width, initial-scale=1")
		meta(name="keywords" content="")
		meta(name="description" content="")

		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

		<!-- Add the slick-theme.css if you want default styling -->
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

		//- links
		link(rel="stylesheet" type='text/css' href="../../assets/css/main.min.css")

		//- title
		title #{title}

	body
		.wrapper#wrapper
			include header
			.content
				block content
			include footer
			include ../popup/modal

			<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
			<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
			<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
			<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


			script(src="../../assets/js/app.min.js")