extends ../layout/main

block variables
  -var title = 'Вакансии'

block content
  .content-wrapper.vacancies-page
    section.vacancies-section
      .container
        h3.subtitle
          span
          | интересные вакансии
        h2.title Вы можете работать у нас
        .vacancies-block
          include ../modules/vacancy
          include ../modules/vacancy
          include ../modules/vacancy
          include ../modules/vacancy
      include ../modules/section-form





