extends ../../layout/main

block variables
	-var title = 'Портфолио(детальная)'

block content
	section.banner-content
		.banner-content__header
			h2 
				img.header-left(src="../../../assets/img/service/service-arrow-prev.svg", alt="")
				| Городу
				img.header-right(src="../../../assets/img/service/service-arrow.svg", alt="")
		.banner-content-block
			.banner-content-block__item(style="background:url('../../../assets/img/banner_1.jpg') center no-repeat; background-size: cover;")
				.banner-content-block__item-submenu.active-menu
					ul.banner-content-block__item-submenu__body
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
				.banner-content-block__item-bg
			.content
				.content-block.google
					section.portfolio-detail
						.portfolio-detail__banner(style="background:url('../../../assets/img/banner_content.jpg') center no-repeat; background-size: cover;")
							h2 Светимся-три: ёлки на улицах Перми 
						.portfolio-detail__text 
							| Что ассоциируется у вас с Новым годом? Что является его символом? Подарки? Бой курантов? Шампанское? Речь президента? Праздничный стол, за которым собирается вся семья? Пушистая новогодняя ель? У пермяков есть собственный городской новогодний символ – фирменная пермская ёлка.     Нет, это не ель на эспланаде в центре города, которую собирают каждый год. Это геометрическая фигура, повторяющая силуэт традиционного новогоднего символа, которая появляется на улицах города зимой как элемент светового оформления.
						.content-projects__block
							.content-projects__block-banner.swiper-container
								.swiper-wrapper
									.content-projects__block-banner__item.swiper-slide
										img(src="../../assets/img/service/project-main.jpg", alt="")
									.content-projects__block-banner__item.swiper-slide
										img(src="../../assets/img/map.jpg", alt="")
									.content-projects__block-banner__item.swiper-slide
										img(src="../../assets/img/service/project-main.jpg", alt="")
									.content-projects__block-banner__item.swiper-slide
										img(src="../../assets/img/service/project-main.jpg", alt="")
									.content-projects__block-banner__item.swiper-slide
										img(src="../../assets/img/service/project-main.jpg", alt="")
							.content-projects__block-img.swiper-container
								.swiper-wrapper
									.content-projects__block-img__item.swiper-slide
										img(src="../../assets/img/service/project_1.jpg", alt="")
									.content-projects__block-img__item.swiper-slide
										img(src="../../assets/img/service/project_2.jpg", alt="")
									.content-projects__block-img__item.swiper-slide
										img(src="../../assets/img/service/project_3.jpg", alt="")
									.content-projects__block-img__item.swiper-slide
										img(src="../../assets/img/service/project_4.jpg", alt="")
									.content-projects__block-img__item.swiper-slide
										img(src="../../assets/img/service/project_5.jpg", alt="")
						.portfolio-detail__price 
							p 
								| Похожий проект обойдется 
								sapn.red от 
									span.price 100000 ₽
						include ../../modules/section-form
						section.portfolio-detail__slider
							.title-block
								.title-block__text
									h3.subtitle 
										span
										| абсолютно индивидуальные
									h2.title Последние статьи в блоге
								.title-block__buttons
									.slider-prev.portfolio-detail__slider-prev
										p назад
										img(src="../../assets/img/slider-prev.svg", alt="")
									.slider-next.portfolio-detail__slider-next
										p Вперёд
										img(src="../../assets/img/slider-next.svg", alt="")
							include ../../modules/cards-block