.blog{
  &-cards{
    padding: 100px 0;
    &__block{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px;
      margin-bottom: 40px;
    }
    & .button{
      display: block;
      max-width: 190px;
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
    }
  }
}