extends ../layout/main

block variables
  -var title = 'Блог'

block content
  .content-wrapper
    .container
      include ../modules/banner-page
      section.blog-cards
        h3.subtitle 
          span
          | Вам будет интересно
        h2.title Статьи нашего блога
        .blog-cards__block
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
        a(href="/").button Показать ещё




