section.banner-section
  .banner-page__button
    .banner-page__button-prev
      img(src="../../assets/img/banner-prev.svg", alt="")
    .banner-page__button-next
      img(src="../../assets/img/banner-next.svg", alt="")
  .banner-page
    .banner-page__item(style="background:url('../assets/img/portfolio/portfolio-banner.jpg') center no-repeat; background-size: cover;")
      h2 
        span 
          | Оформляем пространство, внедряем 
          br
          | современный дизайн в городскую среду.
        a(href="/").button Оставить заявку
    .banner-page__item(style="background:url('../assets/img/portfolio/portfolio-banner.jpg') center no-repeat; background-size: cover;")
      h2 
        span 
          | Оформляем пространство, внедряем 
          br
          | современный дизайн в городскую среду.
        a(href="/").button Оставить заявку  