.blog-item.slide-padding
  .blog-item__img
    img(src="../assets/img/service/service_1.jpg", alt="")
  .blog-item__text
    h3 Работа, которую нельзя обойти стороной. Тц...
    a(href="/")
      | Читать дальше
      img(src="../assets/img/service/service-arrow.svg", alt="")