.cards-block
  .cards-block__item
    .cards-block__item-img
      img(src="../../assets/img/portfolio/portfolio-card_1.jpg", alt="")
    .cards-block__item-text
      h2 Оформление здания на проспекте Мира
      p Сделали индивидульный дизайн для города
      a(href="/")
        | Смортеть
        img(src="../../assets/img/service/service-arrow.svg", alt="")
  .cards-block__item
    .cards-block__item-img
      img(src="../../assets/img/portfolio/portfolio-card_2.jpg", alt="")
    .cards-block__item-text
      h2 Оформление здания на проспекте Мира
      p Сделали индивидульный дизайн для города
      a(href="/")
        | Смортеть
        img(src="../../assets/img/service/service-arrow.svg", alt="")
  .cards-block__item
    .cards-block__item-img
      img(src="../../assets/img/portfolio/portfolio-card_3.jpg", alt="")
    .cards-block__item-text
      h2 Оформление здания на проспекте Мира
      p Сделали индивидульный дизайн для города
      a(href="/")
        | Смортеть
        img(src="../../assets/img/service/service-arrow.svg", alt="")
  .cards-block__item
    .cards-block__item-img
      img(src="../../assets/img/portfolio/portfolio-card_4.jpg", alt="")
    .cards-block__item-text
      h2 Оформление здания на проспекте Мира
      p Сделали индивидульный дизайн для города
      a(href="/")
        | Смортеть
        img(src="../../assets/img/service/service-arrow.svg", alt="")
  .cards-block__item
    .cards-block__item-img
      img(src="../../assets/img/portfolio/portfolio-card_5.jpg", alt="")
    .cards-block__item-text
      h2 Оформление здания на проспекте Мира
      p Сделали индивидульный дизайн для города
      a(href="/")
        | Смортеть
        img(src="../../assets/img/service/service-arrow.svg", alt="")
  .cards-block__item
    .cards-block__item-img
      img(src="../../assets/img/portfolio/portfolio-card_6.jpg", alt="")
    .cards-block__item-text
      h2 Оформление здания на проспекте Мира
      p Сделали индивидульный дизайн для города
      a(href="/")
        | Смортеть
        img(src="../../assets/img/service/service-arrow.svg", alt="")
  .cards-block__item
    .cards-block__item-img
      img(src="../../assets/img/portfolio/portfolio-card_7.jpg", alt="")
    .cards-block__item-text
      h2 Оформление здания на проспекте Мира
      p Сделали индивидульный дизайн для города
      a(href="/")
        | Смортеть
        img(src="../../assets/img/service/service-arrow.svg", alt="")
  .cards-block__item
    .cards-block__item-img
      img(src="../../assets/img/portfolio/portfolio-card_8.jpg", alt="")
    .cards-block__item-text
      h2 Оформление здания на проспекте Мира
      p Сделали индивидульный дизайн для города
      a(href="/")
        | Смортеть
        img(src="../../assets/img/service/service-arrow.svg", alt="")