form(action="" method="post").form-item
  div
    input(type="text", name="name", placeholder='Имя')
  div
    input(type="tel", name="phone", placeholder='Телефон')
  div
    input(type="email", name="email", placeholder='E-mail')
  div
    button(type="submit").button Отправить
