.title-block
  .title-block__text
    h3.subtitle 
      span
      | говорит сама за себя
    h2.title Работа, за которую не стыдно
  .title-block__buttons
    .slider-prev.portfolio-section-prev
      p назад
      img(src="../assets/img/slider-prev.svg", alt="")
    .slider-next.portfolio-section-next
      p Вперёд
      img(src="../assets/img/slider-next.svg", alt="")