.portfolio-section-slider(class="swiper-container")
  .swiper-wrapper
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
    .portfolio-section-slider__item(class="swiper-slide")
      .portfolio-section-slider__item_title Фигуры
      img(src="../assets/img/portfolio_1.jpg", alt="")
  .portfolio-section-slider__title(href="/")
    h2 Портфолио
    img(src="../assets/img/title-arrow-white.svg", alt="", class="desktop-arrow")
    img(src="../assets/img/title-arrow.svg", alt="", class="mobile-arrow")



