.reviews-slider__item
  img(src="../assets/img/reviews/face_1.jpg", alt="")
  .reviews-slider__item-block
    div
      img(src="../assets/img/reviews/face_1.jpg", alt="")
      div
        h3 Мария кондратова
        h4 Директор ООО “Цветы перецветки”
    p Высоко оцениваю работу компании Эрбика на проекте: с учетом большого опыта и стабильных кадров компания может выступать экспертом по постановке бизнес-процессов рекомендовать лучший вариант автоматизации для бизнеса; серьезная репутация компании в регионе сложилась благодаря ответственному отношению к результатам проектов.  