section.form
  .form-block
    .form-block__item
      h3.subtitle 
        span
        | мы можем помочь
      h2.title Форма обратной связи
      include form
  .form-img(style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;")