.vacancies-block__item
  img(src="../assets/img/vacancies/vacancy_1.jpg", alt="")
  .vacancies-block__item-info
    h2 
      | копирайтер
      .button-block
        span
        span
        span
    .vacancies-block__item-info__block
      p Наполнение блока, создание описания продукта
      a(href="/").button Подать заявку