extends ../layout/main

block variables
  -var title = 'О нас'

block content
  .content-wrapper.about-page
    section.about-info
      .container
        h3.subtitle 
          span
          | Это интересно узнать
        h2.title О компании
        .about-info__block
          .about-info__block-text
            p Северная корона – профессионал в области архитектурного оформления зданий.  
            p С нами ваш образ станет ярким и запоминающимся, отразит состоятельность компании на фоне родного города, станет заметным в новых реалиях мира соцсетей. для этого дизайнеры северной короны регулярно учатся, отслеживают тренды и перенимают лучший опыт в мировой практике. 
          .about-info__block-text
            p Наш опыт охватывает реализованные проекты для крупных торговых центров, промышленных предприятий.
            p Производственные возможности позволяют проектировать, изготавливать и монтировать объекты в любом городе россии. наши любимые технологии – светодиодная подсветка, фигурный раскрой алюминия, формование пластика, нанесение изображений на любые поверхности: бетон, пластик, потолки, мебель.
    section.section.about-comand
      .container
        h3.subtitle 
          span
          | Команда мечты
        h2.title Наша команда

        .slider-prev.about-comand__prev
          p назад
          img(src="../assets/img/slider-prev.svg", alt="")
        .slider-next.about-comand__next
          p Вперёд
          img(src="../assets/img/slider-next.svg", alt="")

      .about-comand__slider
        .about-comand__slider-item
          .about-comand__slider-item__img
            img(src="../assets/img/about/human_1.png", alt="")
          .about-comand__slider-item__text
            h3 
              | Константин
              br
              | константинопольский
            p Коммерческий директор
        .about-comand__slider-item
          .about-comand__slider-item__img
            img(src="../assets/img/about/human_1.png", alt="")
          .about-comand__slider-item__text
            h3 
              | Константин
              br
              | константинопольский
            p Коммерческий директор
        .about-comand__slider-item
          .about-comand__slider-item__img
            img(src="../assets/img/about/human_1.png", alt="")
          .about-comand__slider-item__text
            h3 
              | Константин
              br
              | константинопольский
            p Коммерческий директор
        .about-comand__slider-item
          .about-comand__slider-item__img
            img(src="../assets/img/about/human_1.png", alt="")
          .about-comand__slider-item__text
            h3 
              | Константин
              br
              | константинопольский
            p Коммерческий директор
        .about-comand__slider-item
          .about-comand__slider-item__img
            img(src="../assets/img/about/human_1.png", alt="")
          .about-comand__slider-item__text
            h3 
              | Константин
              br
              | константинопольский
            p Коммерческий директор
    include ../modules/section-form