extends ../layout/main

block variables
  -var title = 'Отзывы'

block content
  .content-wrapper.reviews-page
    section.reviews-section
      .container
        h3.subtitle
          span
          | ЧЕСТНОЕ МНЕНИЕ
        h2.title Отзывы наших клиентов
        p.reviews-description Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке соответствующий условий активизации. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки модели развития. Товарищи! реализация намеченных плановых заданий позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что новая модель организационной деятельности позволяет оценить значение соответствующий условий активизации.
        .slider-prev.reviews-prev
          p назад
          img(src="../assets/img/slider-prev.svg", alt="")
        .slider-next.reviews-next
          p Вперёд
          img(src="../assets/img/slider-next.svg", alt="")
        .reviews-slider
          .reviews-slider__slide
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
          .reviews-slider__slide
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
          .reviews-slider__slide
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
          .reviews-slider__slide
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
          .reviews-slider__slide
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
            include ../modules/reviews-item
    section.reviews-form.form
      .form-block
        .form-block__item
          h3.subtitle 
            span
            | это важно для нас
          h2.title Оставьте отзыв или предложение
          form(action="" method="post").form-item
            .form-inputs
              div
                input(type="text", name="name", placeholder='Имя')
              div
                input(type="tel", name="phone", placeholder='Телефон')
              div
                input(type="email", name="email", placeholder='E-mail')
            textarea(name="textarea", placeholder='Коммантарий')
            div
              button(type="submit").button Отправить
      .form-img(style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;")




