.footer {
  padding: 100px 0;
  background: $text-color;
  color: $gray;

  & a {
    color: $gray;
  }

  & li {
    list-style: none;
  }

  & .container {
    display: flex;
  }

  &-block {
    width: 50%;

    &:nth-child(2) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 40px;
    }

    &__menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 20px;

      & a {
        font-size: 28px;
        text-transform: uppercase;

        &:hover {
          transition: .5s;
          color: white;
          text-decoration-line: underline;
        }
      }
    }

    &__info {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 20px;
      font-size: 18px;
      font-family: $roboto;

      & a {
        font-weight: bold;
      }
    }

    &__social {
      display: flex;

      & li+li {
        margin-left: 20px;
      }
    }
  }
}

@media(max-width: 1201px) {
  .footer {
    padding: 80px 0;
  }
}

@media(max-width: 992px) {
  .footer {
    padding: 40px 0;

    &-block {
      &:nth-child(1){
        width: 40%;
      }
      &:nth-child(2){
        width: 60%;
      }
    }

  }
}

@media(max-width: 768px) {
  .footer {

    &-block {
      &:nth-child(1){
        display: none;
      }
      &:nth-child(2){
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      &__info{
        margin-bottom: 20px;
      }
      &__social{
        & img{
          width: 25px;
          height: 25px;
        }
      }
    }

  }
}