.header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;

  &-block {
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  &-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    & a {
      display: inline-block;
      padding: 10px 33px;
      color: $text-color;
      background: rgba($color: #C4C4C4, $alpha: 0.3);
      transition: .4s;

      &:hover {
        background: rgba($color: #C4C4C4, $alpha: 1.0);
        color: white;
      }
    }
  }

  &-menu {
    &__button {
      & a {
        height: 20px;
        display: flex;
        align-items: center;

        & span {
          position: relative;
          display: block;
          width: 25px;
          height: 2px;
          background: $header-button;
          transition: .3s;

          &::after,
          &::before {
            content: '';
            position: absolute;
            display: block;
            width: 25px;
            height: 2px;
            background: $header-button;
          }

          &::after {
            top: 9px;
          }

          &::before {
            bottom: 9px;
          }
        }

        & .active {
          transform: rotate(45deg);

          &::after {
            top: unset;
            transform: rotate(0);
          }

          &::before {
            bottom: unset;
            transform: rotate(90deg);
          }
        }
      }
    }

    &__block {
      display: none;

      a {
        color: black;
        opacity: 0.3;
        transition: .4s;
      }
    }

    &__mainline {
      width: 52%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-item {
        padding: 12px 0;
      }

      & .main-link {
        position: relative;
        z-index: 1;

        & a {
          position: relative;
          font-size: 24px;
          font-weight: bold;
          text-transform: uppercase;

          &::before {
            content: '';
            position: absolute;
            bottom: -12px;
            display: block;
            height: 3px;
            width: 0;
            background: black;
            transition: .4s;
          }

          &.active {
            opacity: 1;

            &::before {
              width: 100%;
            }
          }
        }
      }
    }

    &__subline {
      z-index: -1;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
      transition: .4s;
      opacity: 0;

      &.active {
        bottom: -44px;
        display: flex;
        opacity: 1;
      }

      & li {
        &+li {
          margin-left: 50px;
        }

        & a {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  & svg {
    display: none;
  }
}

@media(min-width: 993px) {
  .header {
    &-menu {
      &__mainline {
        & .main-link {
          &:hover {
            & a {
              opacity: 1;

              &::before {
                width: 100%;
              }
            }
          }
        }
      }

      &__subline {
        & li {
          &:hover {
            & a {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 992px) {
  .header {
    &-button {
      display: none;
    }

    & svg {
      display: block;
      transition: .4s;

      &.active {
        transform: rotate(90deg);

        & path {
          stroke: $red;
          transition: .4s;
        }
      }
    }

    &-menu {
      &__block {
        height: calc(100vh - 70px);
        margin: 0 -15px;

        & a {
          font-family: $roboto;
        }
      }

      &__mainline {
        width: 100%;
        display: block;

        &-item {
          padding: 15px 15px;
          border-bottom: 1.5px solid $light-gray;
        }

        & .main-link {
          position: relative;
          z-index: 1;
          @include flex-between;

          & a {
            font-size: 18px;
            position: relative;
            font-weight: normal;
            text-transform: none;

            &::before {
              content: unset;
            }

          }
        }
      }

      &__subline {
        z-index: unset;
        position: unset;
        display: none;
        height: unset;
        margin: 15px -15px 0 35px;
        background: white;
        box-shadow: unset;
        transition: unset;
        opacity: unset;

        &.active {
          bottom: -44px;
          display: flex;
          opacity: 1;
        }

        & li {
          padding: 15px 0;
          padding-right: 15px;
          border-bottom: 1.5px solid $light-gray;
          @include flex-between;

          &:last-child {
            padding-bottom: 0;
            border-bottom: unset;
          }

          &:first-child {
            // padding-top: 0;
          }

          &+li {
            margin-left: 0;
          }

          & a {
            font-size: unset;
            font-weight: unset;
          }
        }
      }
    }
  }
}