extends layout/main

block variables
	-var title = 'Северная корона'

block content
	section.banner
		h1.banner-title Оформляем  пространство, внедряем современный дизайн в городскую среду.
		a(href="/").banner-mouse
			img(src="../assets/img/banner-mouse.svg", alt="")
		.banner-block
			.banner-block-bg
			.banner-block__item(style="background:url('./assets/img/banner_1.jpg') center no-repeat; background-size: cover;")
				.banner-block__item-category
					h2 
						a(href='/') Блог
				.banner-block__item-submenu
					.banner-block__item-submenu__header
						h2 Городу
					ul.banner-block__item-submenu__body
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель
						li
							a(href="/") Городская мебель	
				.banner-block__item-bg
			.banner-block__item(style="background:url('./assets/img/banner_2.jpg') center no-repeat; background-size: cover;")
				.banner-block__item-category
					h2 
						a(href='https://api.jquery.com/children/') Блог
				.banner-block__item-bg
			.banner-block__item(style="background:url('./assets/img/banner_3.jpg') center no-repeat; background-size: cover;")
				.banner-block__item-category
					h2 
						a(href='/') Блог
				.banner-block__item-bg
			.banner-block__item(style="background:url('./assets/img/banner_4.jpg') center no-repeat; background-size: cover;")
				.banner-block__item-category
					h2 
						a(href='/') Блог
				.banner-block__item-bg
			.banner-block__item(style="background:url('./assets/img/banner_5.jpg') center no-repeat; background-size: cover;")
				.banner-block__item-category
					h2 
						a(href='/') Блог
				.banner-block__item-bg
		.banner-block__mobile(style="background:url('./assets/img/banner-mobile.jpg') center no-repeat; background-size: cover;")

	section.section.catalog-section
		.container
			h3.subtitle
				span
				| Есть что сказать
			h2.title Мы делаем крутые объекты, оформляем рекламу и наполняем простанство вокруг вас удивительными вещами.
			a(href="/").catalog-section__title
				h2 каталог
				img(src="../assets/img/title-arrow.svg")
		.catalog-section__banner
			img(src="../assets/img/catalog-main.png", alt="")

	section.advantages
		.container
			.advantages-block
				.advantages-block__item
					.advantages-block__item-block
						img(src="../assets/img/advant_0.svg", alt="")
					h3 Честность
				.advantages-block__item
					.advantages-block__item-block
						img(src="../assets/img/advant_1.svg", alt="")
					h3 Экономия денег клиента
				.advantages-block__item
					.advantages-block__item-block
						img(src="../assets/img/advant_2.svg", alt="")
					h3 Забота о каждом клиенте
				.advantages-block__item
					.advantages-block__item-block
						img(src="../assets/img/advant_3.svg", alt="")
					h3 Уникальные и заметные композиции
				.advantages-block__item
					.advantages-block__item-block
						img(src="../assets/img/advant_4.svg", alt="")
					h3 Экологичность

	section.products
		.container
			.title-block
				.title-block__text
					h3.subtitle 
						span
						| Это не конец
					h2.title Вот что мы еще можем
				.title-block__buttons
					.slider-prev.products-prev
						p назад
						img(src="../assets/img/slider-prev.svg", alt="")
					.slider-next.products-next
						p Вперёд
						img(src="../assets/img/slider-next.svg", alt="")
			.products-slider
				.products-slider__item
					.products-slider__item-info
						img(src="../assets/img/product_1.jpg", alt="")
						h4 от 12 000 ₽
						p Световые вывески
					a(href="/").products-slider__item-button.button Заказать
				.products-slider__item
					.products-slider__item-info
						img(src="../assets/img/product_1.jpg", alt="")
						h4 от 12 000 ₽
						p Световые вывески
					a(href="/").products-slider__item-button.button Заказать
				.products-slider__item
					.products-slider__item-info
						img(src="../assets/img/product_1.jpg", alt="")
						h4 от 12 000 ₽
						p Световые вывески
					a(href="/").products-slider__item-button.button Заказать
				.products-slider__item
					.products-slider__item-info
						img(src="../assets/img/product_1.jpg", alt="")
						h4 от 12 000 ₽
						p Световые вывески
					a(href="/").products-slider__item-button.button Заказать
				.products-slider__item
					.products-slider__item-info
						img(src="../assets/img/product_1.jpg", alt="")
						h4 от 12 000 ₽
						p Световые вывески
					a(href="/").products-slider__item-button.button Заказать

	section.portfolio-section
		.container
			include modules/portfolio-header
		include modules/portfolio-slider

	section.steps
		.container
			h3.subtitle 
				span
				| ответственный подход
			h2.title Технологии производства
			ul.steps-list
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Программируем световую иллюминацию. Освещаем фасады
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Варим нержавеющий металл и алюминий.
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Формуем пластик с разными видами последующей обработки
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Работаем с деревом, выполняем качественную обработку, покраску.
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Пенопласт. Вырезаем фигуры и наносим стойкое покрытие.
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Работаем с гибкими источниками света.
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Экструдирование прозрачного полистирола. Позволяет нам имитировать лед.
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Работаем со стеклопластиком для создания объемных изделий
				li
					span.steps-list__text 
						img(src="../assets/img/steps_1.jpg", alt="")
						| Полноцветная печать на любые поверхности: пластик, баннер, стекло, алюминий

	include modules/section-form

	section.partners
		.container
			h3.subtitle 
				span
				| они нам доверяют
			h2.title НАши партнёры
			.partners-block
				.slider-prev.partners-prev
					p назад
					img(src="../assets/img/slider-prev.svg", alt="")
				.partners-slider
					.partners-slider__item
						div
							img(src="../assets/img/partners_1.png", alt="")
					.partners-slider__item
						div
							img(src="../assets/img/partners_2.png", alt="")
					.partners-slider__item
						div
							img(src="../assets/img/partners_3.png", alt="")
					.partners-slider__item
						div
							img(src="../assets/img/partners_4.png", alt="")
					.partners-slider__item
						div
							img(src="../assets/img/partners_4.png", alt="")
				.slider-next.partners-next
					p Вперёд
					img(src="../assets/img/slider-next.svg", alt="")

	section.social-section
		.container
			h3.subtitle 
				span
				| следим за трендами
			h2.title Социальные сети
			.social-section-block
				.social-section-block__item
					a(href="/")
						img(src="../assets/img/social-vk.svg", alt="")
				.social-section-block__item
					a(href="/")
						img(src="../assets/img/social-inst.svg", alt="")
				.social-section-block__item
					a(href="/")
						img(src="../assets/img/social-facebook.svg", alt="")
				.social-section-block__item
					a(href="/")
						img(src="../assets/img/social-zen.svg", alt="")
				.social-section-block__item
					a(href="/")
						img(src="../assets/img/social-be.svg", alt="")
