extends ../../layout/main

block variables
	-var title = 'Арт-объекты'

block content
	.content-wrapper
		.banner-content-block
			.banner-content-block__item(style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;")
				.banner-content-block__item-category
					h2 
						a(href='/') Блог
				.banner-content-block__item-submenu.active-menu
					.banner-content-block__item-submenu__header
						h2 Городу
					ul.banner-content-block__item-submenu__body
						li
							a(href="/") Городская мебель
				.banner-content-block__item-bg
