.portfolio{
  &-list{
    & .cards-block{
      margin-bottom: 40px;
    }
    & a{
      &.button{
        display: block;
        margin: 0 auto;
        max-width: 190px;
        padding: 12.5px 0;
      }
    }
    & .form{
      margin: 100px -40px;
    }
  }
}

@media(max-width: 1200px){
  .portfolio{
    &-list{
      & .cards-block{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
      }
    }
  }
}

@media(max-width: 992px){
  .portfolio{
    &-list{
      padding-top: 80px;
    }
  }
}