.portfolio-cards {
  z-index: 1;
  position: relative;
  padding: 0 0 100px 0;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 38%;
    background: white;
  }
}