.portfolio-zone {
  padding: 100px 0;

  &__block {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 220px);

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      cursor: pointer;

      &::before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $text-color;
        opacity: 0.7;
        transition: .4s;
      }

      & a {
        z-index: 1;
        font-size: 29px;
        font-weight: bold;
        color: white;
        transition: .4s;
      }

      &:nth-child(1) {
        grid-column: span 3;
      }

      &:nth-child(2) {
        grid-column: span 3;
      }

      &:nth-child(3) {
        grid-column: span 2;
      }

      &:nth-child(4) {
        grid-column: span 2;
      }

      &:nth-child(5) {
        grid-column: span 2;
      }
    }
  }
}

@media(min-width: 991px) {
  .portfolio-zone {
    &__block {
      &-item {
        &:hover {
          text-decoration-line: underline;

          &::before {
            opacity: 1;
          }

          & a {
            transform: scale(1.6);
          }
        }
      }
    }
  }
}

@media(max-width: 1200px) {
  .portfolio-zone {
    padding: 80px 0;
  }
}

@media(max-width: 768px) {
  .portfolio-zone {
    &__block {
      margin: 0 -15px;
      display: block;

      &-item {
        justify-content: start;

        & a {
          width: 100%;
          padding: 25px 15px;
          font-size: 19px;
        }
      }
    }
  }
}