.portfolio {
  &-detail {
    &__banner {
      position: relative;
      height: 300px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        @include absolute-full;
        background: #272727;
        opacity: 0.7;
      }

      & h2 {
        position: relative;
        z-index: 1;
        margin-bottom: 40px;
        font-size: 48px;
        text-transform: uppercase;
        color: white;
      }
    }

    &__text {
      padding: 40px 0;
    }

    &__price {
      padding-top: 40px;
      font-weight: bold;
      font-size: 28px;
      text-transform: uppercase;

      & .red {
        color: #E81600;

        & .price {
          font-size: 35px;
        }
      }
    }

    & .form {
      margin: 100px -40px;
    }

    &__slider {
      padding-bottom: 100px;

      & .cards-block {
        display: block;
        margin: 0 -20px;

        &__item {
          margin: 0 20px;
        }
      }
    }
  }
}

@media(max-width: 1366px) {
  .portfolio {
    &-detail {
      &__slider{
        & .title-block{
          flex-direction: column;
          align-items: start;
          &__text{
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

@media(max-width: 1200px){
  .portfolio {
    &-detail{
      padding-top: 60px;
      &__banner{
        & h2{
          font-size: 40px;
        }
      }
    }
  }
}

@media(max-width: 992px) {
  .portfolio {
    &-detail {
      &__slider{
        & .title-block{
          flex-direction: unset;
          align-items: center;
          &__text{
            margin-bottom: unset;
          }
          &__buttons{
            display: none;
          }
        }
        & .cards-block {
          display: block;
          margin: unset;
  
          &__item {
            margin: 0 40px 0 0;
            max-width: 280px;
          }
        }
      }
      & .form{
        &-block{
          &__item{
            padding: 0 !important;
          }
        }
      }
    }
  }
}

@media(max-width: 768px){
  .portfolio{
    &-detail{
      &__banner{
        padding: 20px;
        text-align: center;
        & h2{
          font-size: 32px;
        }
      }
      &__slider{
        & .cards-block{
          &__item{
            margin: 0 20px 0 0;
          }
        }
      }
    }
  }
}

@media(max-width: 576px){
  .portfolio{
    &-detail{
      &__price{
        text-align: center;
      }
    }
  }
}