.portfolio {
  &-blog {
    padding: 100px 0;

    &__slider {
      margin: 0 -20px;

      & .blog-item {
        padding: 0 20px;
      }
    }
  }
}

@media(max-width: 1200px) {
  .portfolio {
    &-blog {
      padding: 80px 0;
    }
  }
}

@media(max-width: 992px) {
  .portfolio {
    &-blog {

      &__slider {
        margin: unset;

        & .blog-item {
          max-width: 380px;
          padding: unset;
          margin: 0 20px;
        }
      }
    }
  }

}

@media(max-width: 768px) {
  .portfolio {
    &-blog {
      &__slider {
        & .blog-item {
          max-width: 280px;
          margin: 0 10px;
        }
      }
    }
  }
}