@font-face {
  font-family: 'Bebas Neue Pro ExpandedLight';
  src: url('../fonts/BebasNeuePro-ExpandedLight.eot');
  src: local('Bebas Neue Pro ExpandedLight'), local('BebasNeuePro-ExpandedLight'),
    url('../fonts/BebasNeuePro-ExpandedLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedLight.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedLight.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro ExpandedRegular';
  src: url('../fonts/BebasNeuePro-ExpandedRegular.eot');
  src: local('Bebas Neue Pro ExpandedRegular'), local('BebasNeuePro-ExpandedRegular'),
    url('../fonts/BebasNeuePro-ExpandedRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedRegular.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedRegular.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro ExpandedMiddle';
  src: url('../fonts/BebasNeuePro-ExpandedMiddle.eot');
  src: local('Bebas Neue Pro ExpandedMiddle'), local('BebasNeuePro-ExpandedMiddle'),
    url('../fonts/BebasNeuePro-ExpandedMiddle.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedMiddle.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedMiddle.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedMiddle.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro ExpandedBold';
  src: url('../fonts/BebasNeuePro-ExpandedBold.eot');
  src: local('Bebas Neue Pro ExpandedBold'), local('BebasNeuePro-ExpandedBold'),
    url('../fonts/BebasNeuePro-ExpandedBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeuePro-ExpandedBold.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-ExpandedBold.woff') format('woff'),
    url('../fonts/BebasNeuePro-ExpandedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@mixin reg {
  font-family: 'Bebas Neue Pro ExpandedRegular', sans-serif;
}

@mixin light {
  font-family: 'Bebas Neue Pro ExpandedLight', sans-serif;
}