* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  color: $text-color;
  @include reg;

  &.active {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input,
textarea {
  padding: 10px 15px;
  border: 2.5px solid white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: $gray;
  background: transparent;
  outline: none;

  &::placeholder {
    color: $gray;
  }
}

textarea {
  resize: none;
}

.section {
  padding: 100px 0 0 0;
}

.container {
  margin: 0 40px;
}

.title {
  margin-bottom: 50px;
  font-size: 48px;
  text-transform: uppercase;

  &-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;

    & .title {
      margin-bottom: 0;
    }

    & .slider-prev {
      margin-right: 40px;
    }
  }
}

.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  font-size: 28px;
  text-transform: uppercase;
  color: $gray;

  & span {
    display: block;
    height: 20px;
    width: 20px;
    margin-right: 20px;
    background: $red;
  }
}

.button {
  display: inline-block;
  padding: 12.5px 40px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  font-family: $roboto;
  text-align: center;
  color: white;
  background: $red;
  transition: .4s;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.slider {

  &-prev,
  &-next {
    display: inline-block;
    cursor: pointer;
    outline: none !important;

    &:hover {
      & p {
        color: $red;
      }
    }

    & p {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 28px;
      color: $gray;
      transition: .3s;
    }

  }

  &-prev {
    & p {
      text-align: right;
    }

    & img {
      margin-right: 30px;
    }
  }

  &-next {
    & p {
      text-align: left;
    }

    & img {
      margin-left: 30px;
    }
  }
}

.slick {
  &-slide {
    outline: none !important;
  }
}

.num {
  border-bottom: 2.5px solid $red;
  font-size: 46px;
  font-weight: bold;
  color: $gray;
}

.form-item {
  display: flex;

  & div+div {
    margin-left: 45px;
  }

  & .button {
    padding-left: 47px;
    padding-right: 47px;
  }
}

.alt-arrow {
  & .title-block__buttons {
    display: flex;
  }

  & .slider {
    &-prev {
      display: flex;
      align-items: center;

      & img {
        margin-right: 10px;
      }
    }

    &-next {
      display: flex;
      align-items: center;

      & img {
        margin-left: 10px;
      }
    }
  }
}

.cards {
  &-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;

    &__item {
      background: $text-color;

      &-img {
        & img {
          width: 100%;
        }
      }

      &-text {
        padding: 20px;
        color: white;

        & h2 {
          font-size: 28px;
          text-transform: uppercase;
          margin-bottom: 15px;
        }

        & p {
          font-size: 18px;
          font-family: $roboto;
          margin-bottom: 15px;
        }

        & a {
          display: flex;
          align-items: center;
          font-family: $roboto;
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}

.blog {
  &-item {

    &__img {
      margin-bottom: 20px;

      & img {
        width: 100%;
      }
    }

    &__text {
      & h3 {
        font-size: 28px;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      & a {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-family: $roboto;
        color: $gray;
      }
    }
  }
}

.content-wrapper {
  padding-top: 70px;
  background: $light-gray;
  // & .container{
  //   margin: 0 40px;
  // }
}

.banner {
  &-section {
    position: relative;
    margin-top: 40px;
    height: 300px;
  }

  &-page {
    &__item {
      width: 100%;
      height: 300px;
      padding: 30px;
      display: flex !important;
      align-items: flex-end;

      & h2 {
        display: flex;
        align-items: flex-end;

        & span {
          display: block;
          margin-right: 40px;
          font-size: 48px;
          text-transform: uppercase;
          color: white;
        }
      }
    }

    &__button {
      z-index: 1;
      position: absolute;
      right: 0;
      top: 0;
      width: 215px;
      height: 85px;
      @include flex-center;
      background: white;

      &-prev,
      &-next {
        cursor: pointer;
      }
    }
  }
}

.slide-block {
  margin: 0 -20px;
}

.slide-padding {
  padding: 0 20px
}

@media(min-width: 1441px) {
  .container {
    margin: 0 60px;
  }
}

@media(max-width: 1367px) {
  body {
    font-size: 16px;
  }

  .cards {
    &-block {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
  }
}

@media(max-width: 1200px) {
  .container {
    margin: 0 30px;
  }

  .section {
    padding: 80px 0 0 0;
  }

  .title {
    margin-bottom: 30px;
    font-size: 40px;

    &-block {
      margin-bottom: 30px;
    }
  }

  .subtitle {
    font-size: 22px;

    & span {
      height: 15px;
      width: 15px;
      margin-right: 10px;
    }
  }

  .button {
    // padding: 10px 20px;
    font-size: 16px;
  }

  .num {
    font-size: 40px;
  }

  .slider {

    &-prev,
    &-next {
      & p {
        font-size: 22px;
      }

      & img {
        width: 130px;
      }
    }

    &-prev {
      & img {
        margin-right: 15px;
      }
    }

    &-next {
      & img {
        margin-left: 15px;
      }
    }
  }

  .banner {
    &-page {
      &__item {
        & h2 {
          & span {
            font-size: 40px;
          }
        }
      }
    }
  }
}

@media(max-width: 992px) {
  .container {
    margin: 0 15px;
  }

  input,
  textarea {
    padding: 15px 20px;
    border: 1.5px solid white;
  }

  .button {
    padding: 15px 40px;
    font-size: 18px;
  }

  .cards {
    &-block {
      display: block;
      grid-template-columns: unset;
      grid-gap: unset;

      &__item {
        max-width: 380px;
        margin: 0 20px;
      }
    }
  }

  .banner {
    &-section {
      margin: 0 -15px;
      height: calc(100vh - 70px);
    }

    &-page {
      &__item {
        position: relative;
        height: calc(100vh - 70px);
        padding: 15px;
        display: flex !important;
        align-items: center;
        justify-content: center;

        &::before {
          content: '';
          @include absolute-full;
          background: black;
          opacity: 0.5;
        }

        & h2 {
          z-index: 1;
          align-items: flex-start;
          flex-direction: column;

          & span {
            margin-right: unset;
            font-size: 32px;
            margin-bottom: 20px;
          }
        }
      }

      &__button {
        display: none;
      }
    }
  }

  .slide-block {
    margin: unset;
  }

  .slide-padding {
    max-width: 380px;
    padding: unset;
    margin: 0 20px;
  }
}

@media(max-width: 768px) {

  .subtitle {
    font-size: 19px;

    & span {
      height: 13px;
      width: 13px;
      margin-right: 7px;
    }
  }

  .title {
    margin-bottom: 20px;
    font-size: 32px;

    &-block {
      margin-bottom: 20px;

      & .title {
        margin-bottom: 0;
      }

      &__buttons {
        display: none;
      }
    }
  }

  .cards {
    &-block {
      &__item {
        max-width: 280px;
        margin: 0 10px;

        &-text {

          & h2 {
            font-size: 19px;
          }
        }
      }
    }
  }

  .slider {

    &-prev,
    &-next {
      display: none !important;
    }
  }

  .slide-padding {
    max-width: 280px;
    margin: 0 10px;
  }
}