$text-color: #272727;
$header-button: #272727;
$gray: #A3A3A3;
$red: #E81600;
$light-gray: #F9F9F9;

$roboto:'Roboto', sans-serif;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
