.about {
  &-page {
    & .form {
      margin: 100px 0;
    }
  }

  &-info {
    padding-top: 40px;

    &__block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 40px;

      &-text {
        font-size: 18px;
        font-family: $roboto;

        & p+p {
          margin-top: 20px;
        }
      }
    }
  }

  &-comand {
    position: relative;

    &__prev {
      z-index: 1;
      position: absolute;
      left: 60px;
      bottom: 0;
    }

    &__next {
      z-index: 1;
      position: absolute;
      right: 60px;
      bottom: 0;
    }

    &__slider {
      position: relative;
      padding: 40px 0 60px 0;

      &::before {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        // max-width: 440px;
        width: 25%;
        border: 20px solid $red;
      }

      & .container {
        position: relative;
      }

      &-item {
        text-align: center;
        padding: 0 20px;

        &__img {
          display: flex;
          justify-content: center;
          margin-bottom: 30px;
        }

        &__text {
          opacity: 0;
          transition: .4s;

          & h3 {
            font-size: 28px;
            text-transform: uppercase;
            margin-bottom: 15px;
          }

          & p {
            font-family: $roboto;
          }
        }

        &.slick-current {
          & .about-comand__slider-item__text {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media(max-width: 1440px) {
  .about {
    &-comand {
      &__prev {
        left: 40px;
      }

      &__next {
        right: 40px;
      }
    }
  }
}

@media(max-width: 1200px) {
  .about {
    &-page {
      & .form {
        margin: 80px 0;
      }
    }

    &-comand {
      &__slider {
        &-item {


          &__text {
            & h3 {
              font-size: 22px;
              text-transform: uppercase;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 992px) {
  .about {
    &-comand {
      &__prev {
        display: none;
      }

      &__next {
        display: none;
      }
      &__slider {
        &::before {
          z-index: 0;
          left: 15px;
          transform: translate(0, 0);
          max-width: 270px;
          width: 100%;
          border: 13px solid $red;
        }

        &-item {
          padding: 0 40px;

          & img {
            max-width: 250px;
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .about {
    &-info {
      &__block {
        display: block;
      }
    }
  }
}



@media(max-width: 576px) {
  .about {
    &-comand {
      &__slider {
        padding: 40px 0 60px 50px;

        &::before {
          z-index: 0;
          top: 50%;
          left: 15px;
          bottom: unset;
          transform: translate(0, -50%);
          max-width: 270px;
          width: 100%;
          border: 13px solid $red;
          height: 370px;
        }

        &-item {
          padding: 0 20px;

          &__text {
            & h3 {
              font-size: 19px;
            }
          }

          & img {
            max-width: 160px;
          }
        }
      }
    }
  }
}