.articles {
  &-section {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  &-slider {
    margin: 0 -20px;

    &__item {
      padding: 0 20px;

      & img {
        width: 100%;
      }
    }
  }
}

