.reviews {

  &-section {
    padding-top: 40px;

    & .container {
      position: relative;
    }

    & .slick-dots {
      z-index: 1;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }
  }

  &-description {
    margin-bottom: 40px;
    font-family: $roboto;
  }

  &-slider {
    padding-bottom: 90px;

    &__item {
      display: flex;
      align-items: start;
      margin-bottom: 40px;

      &:nth-child(2n) {
        & img {
          margin-left: auto;
          width: 75px;
          height: 85px;
        }
      }

      & img {
        margin-right: 40px;
      }

      &-block {
        width: 70%;
        padding: 20px 40px;
        font-size: 18px;
        background: white;

        & img {
          display: none;
        }

        & h3 {
          font-size: 28px;
          text-transform: uppercase;
          margin-bottom: 15px;
        }

        & h4 {
          margin-bottom: 20px;
          font-family: $roboto;
        }

        & p {
          font-family: $roboto;
        }
      }
    }
  }

  &-prev {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &-next {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &-form {
    margin: 100px 0;

    & .form-inputs {
      display: flex;
    }

    & .form-block {
      & form {
        display: grid;
        grid-gap: 20px;

        & div {
          &+div {
            margin-left: 20px;
          }
        }

        & textarea {
          height: 82px;
        }
      }
    }
  }

}

@media(max-width: 992px) {
  .reviews {
    &-form {
      margin: 80px 0;

      & .form-inputs {
        flex-direction: column;
      }

      & .form-block {
        & form {

          & div {
            &+div {
              margin-left: unset;
            }
          }

          & textarea {
            max-width: 570px;
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .reviews {
    &-slider {
      padding-bottom: 90px;

      &__item {

        &:nth-child(2n) {
          & img {
            margin-left: unset;
          }
        }

        & img {
          display: none;
        }

        &-block {
          width: 100%;
          padding: 20px;
          font-size: 18px;
          background: white;

          & div {
            display: flex;
            align-items: center;

            & div {
              display: block;
            }
          }

          & img {
            display: block;
            width: 60px;
            height: 67px;
            margin-right: 15px;
          }

          & h3 {
            font-size: 19px;
            margin-bottom: 5px;
          }

          & h4 {
            font-size: 14px;
            font-weight: normal;
            margin-bottom: unset;
          }

          & p {
            margin-top: 20px;
            font-family: $roboto;
          }
        }
      }
    }
  }
}