.vacancies {
  &-page {
    & .form{
      margin: 100px 0;
    }
  }

  &-section {
    padding-top: 40px;
  }

  &-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;

    &__item {
      position: relative;
      display: flex;
      flex-direction: column;

      & img {
        width: 100%;
      }

      &-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background: $text-color;
        color: white;

        & h2 {
          position: relative;
          // height: 75px;
          @include flex-between;
          text-transform: uppercase;

          & .button-block {
            @include flex-between;
            height: 30px;
            width: 35px;
            cursor: pointer;
            transition: .4s;
            opacity: 1;

            &.active {
              display: none;
              opacity: 0;
            }

            & span {
              display: block;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background: $red;
            }
          }
        }

        &__block {
          margin-top: 15px;
          display: none;

          & p {
            margin-bottom: 15px;
            font-size: 18px;
            font-family: $roboto;
          }
        }
      }
    }
  }
}

@media(max-width: 1367px){
  .vacancies {
    &-page {
      & .form{
        margin: 80px 0;
      }
    }

    &-block {
      grid-template-columns: repeat(3, 1fr);
    }

  }
}

@media(max-width: 992px){
  .vacancies {
    &-block {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media(max-width: 576px){
  .vacancies {
    &-block {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}