extends ../layout/main

block variables
  -var title = 'Портфолио'

block content
  .content-wrapper
    .container
      include ../modules/banner-page
      section.portfolio-zone
        h3.subtitle 
          span
          | для разных клиентов
        h2.title Разделы портфолио
        .portfolio-zone__block
          .portfolio-zone__block-item(style="background: url('../assets/img/portfolio/portfolio-zone_1.jpg') center no-repeat; background-size: cover;")
            a(href="") арт-объекты
          .portfolio-zone__block-item(style="background: url('../assets/img/portfolio/portfolio-zone_1.jpg') center no-repeat; background-size: cover;")
            a(href="") городская среда
          .portfolio-zone__block-item(style="background: url('../assets/img/portfolio/portfolio-zone_2.jpg') center no-repeat; background-size: cover;")
            a(href="") рекламное
          .portfolio-zone__block-item(style="background: url('../assets/img/portfolio/portfolio-zone_3.jpg') center no-repeat; background-size: cover;")
            a(href="") фасады
          .portfolio-zone__block-item(style="background: url('../assets/img/portfolio/portfolio-zone_4.jpg') center no-repeat; background-size: cover;")
            a(href="") интерьеры
      section.portfolio-cards
        h3.subtitle 
          span
          | говорит сама за себя
        h2.title Работа, за которую не стыдно
        include ../modules/cards-block
    section.form.portfolio-form
        .form-block
          .form-block__item
            h3.subtitle 
              span
              | мы можем помочь
            h2.title Хочу так же
            include ../modules/form
        .form-img(style="background:url('../assets/img/banner_1.jpg') center no-repeat; background-size: cover;")
    .container
      section.portfolio-blog
        .title-block
          .title-block__text
            h3.subtitle 
              span
              | абсолютно индивидуальные
            h2.title Последние статьи в блоге
          .title-block__buttons
            .slider-prev.portfolio-blog__prev
              p назад
              img(src="../assets/img/slider-prev.svg", alt="")
            .slider-next.portfolio-blog__next
              p Вперёд
              img(src="../assets/img/slider-next.svg", alt="")
        .portfolio-blog__slider
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item
          include ../modules/blog-item




