extends ../layout/main

block variables
  -var title = 'Контакты'

block content
  .content-wrapper.contacts-page
    .contacts-info
      .container
        h3.subtitle 
          span
          | свяжитесь с нами
        h2.title Контакты
        section.contacts-block
          .contacts-block__address
            h4 Главный офис:
            p 
              | г. Пермь
              br
              | ул. Коломенская 61, 3 этаж
              br
              | Прием заявок: ПН-ПТ с 6.00 до 22.00 мск.
          .contacts-block__info
            .contacts-block__info-block
              a(href="tel:+73422480442") +7 (342) 248-04-42
              a(href="mailto:art@skprm.ru") art@skprm.ru
            .contacts-block__info-social
              a(href="/")
                img(src="../assets/img/social-vk.svg", alt="")
              a(href="/")
                img(src="../assets/img/social-inst.svg", alt="")
              a(href="/")
                img(src="../assets/img/social-facebook.svg", alt="")
              a(href="/")
                img(src="../assets/img/social-zen.svg", alt="")
              a(href="/")
                img(src="../assets/img/social-be.svg", alt="")
        //- img(src="../assets/img/map.jpg", alt="", style="width:100%")
        #contact-map
          <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1y_0s-xhlbhfwI22lil_fEvyCvBREcZ9y" width="100%" height="100%" frameborder="0"></iframe>

      include ../modules/section-form


