.banner {
  &-content {
    padding-top: 70px;
    position: relative;

    .content {
      &-block {
        padding: 40px 40px 0 40px;
        overflow-y: auto;
        height: calc(100vh - 70px - 60px);
        margin-left: 350px;
        width: calc(100% - 350px);
        transition: .4s;

        &::-webkit-scrollbar {
          width: 0;
        }

        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;

        &.active {
          margin-left: 0;
          width: 100%;
        }
      }
    }

    &__header {
      display: flex;
      align-items: center;
      height: 60px;
      padding: 0 15px;
      background: #ECECEC;

      & h2 {
        display: flex;
        align-items: center;
        font-size: 24px;
        text-transform: uppercase;
        cursor: pointer;

        & .header {
          &-left {
            display: block;

            &.active {
              display: none;
            }
          }

          &-right {
            display: none;

            &.active {
              display: block;
            }
          }
        }
      }
    }

    &-block {
      position: relative;
      height: inherit;

      &__item {
        position: absolute;
        height: 100%;
        left: 0;
        width: 350px;
        z-index: 3;
        background-color: #cccccc;
        overflow: hidden;
        transition: .4s;

        &.active {
          left: -100%;
        }

        &-bg {
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: black;
          opacity: 0.5;
          transition: .5s;
        }

        &-category {
          // display: none;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: -150px;
          transition: .5s;

          & h2 {
            z-index: 2;
            position: absolute;
            bottom: 60px;
            right: 0;
            font-size: 80px;
            transform: rotate(-90deg);

            & a {
              color: white;
            }
          }
        }

        & .active {
          right: 0;
        }

        &-submenu {
          position: absolute;
          bottom: -100%;
          z-index: 2;
          height: 100%;
          width: 100%;
          transition: .5s;

          &__header {
            display: flex;
            align-items: center;
            height: 60px;
            padding: 0 15px;
            background: #ECECEC;

            & h2 {
              display: flex;
              align-items: center;
              font-size: 24px;
              text-transform: uppercase;
              cursor: pointer;

              & .header {
                &-left {
                  display: block;

                  &.active {
                    display: none;
                  }
                }

                &-right {
                  display: none;

                  &.active {
                    display: block;
                  }
                }
              }
            }
          }

          &__body {
            max-height: calc(100% - 60px);
            padding: 25px 15px;
            overflow-y: auto;

            & li {
              list-style: none;

              &+li {
                margin-top: 20px;
              }

              & a {
                color: white;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }

        & .active-menu {
          bottom: 0;
        }
      }
    }
  }
}


@media(max-width: 1366px) {
  .banner {
    &-content {
      & .content {
        &-block {
          margin-left: 280px;
          width: calc(100% - 280px);
        }
      }

      &-block {
        &__item {
          width: 280px;
        }
      }

      & .form {
        margin: 100px -40px;

        &-block {
          &__item {
            width: 100%;
            padding: 0 40px;
          }
        }

        &-item {
          flex-direction: column;
          align-items: start;

          & div {
            max-width: 350px;
            width: 100%;

            & input,
            .button {
              width: 100%;
            }

            &+div {
              margin-top: 20px;
              margin-left: 0;
            }
          }
        }
      }

    }
  }
}

@media(max-width: 1200px) {
  .banner {
    &-content {

      &__header {
        z-index: 3;
        position: fixed;
        top: 69px;
        width: 100%;
      }

      &-block {
        & .content {
          margin-left: 0;
          width: 100%;
          transition: .4s;

          &-block {
            overflow-y: unset;
            height: unset;
          }
        }

        &__item {
          position: fixed;
          top: 129px;
        }
      }

      & .content {
        &-portfolio {
          & .title {
            &-block {
              &__buttons {
                & img {
                  width: 20px;
                }
              }
            }
          }
        }

        &-process {
          & .title {
            &-block {
              &__buttons {
                & img {
                  width: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 1200px) and (min-width: 993px) {

  & .google {

    & .banner {
      &-page {
        &__button {
          height: 50px;
          width: 150px;

          & img {
            width: 70%;
          }

          &-prev,
          &-next {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &__item {
          & h2 {
            flex-direction: column;
            align-items: start;

            & span {
              font-size: 24px;
              margin-bottom: 15px;
            }
          }
        }
      }
    }

    & .content-projects__block-img {
      & img {
        max-width: 130px;
      }
    }

    & .content {
      &-advantages {
        &-block {
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 20px
        }
      }

      &-portfolio {
        & .title {
          &-block {
            flex-direction: column;
            align-items: start;

            &__text {
              margin-bottom: 15px;
            }
          }
        }
      }

      &-process {
        & .title {
          &-block {
            flex-direction: column;
            align-items: start;

            &__text {
              margin-bottom: 15px;
            }
          }
        }
      }

      &-steps {
        &__block {
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 20px;

          &-item {
            &:nth-child(2n) {
              padding-top: unset;
            }
          }
        }
      }
    }


  }
}

@media(max-width: 992px) {
  .banner {
    &-content {
      & .content {
        &-block {
          padding: 40px 15px 0 15px;
          margin-left: 0;
          width: 100%;
          .form {
            margin: 100px -15px;
            &-block{
              &__item{
                padding: 0 15px;
              }
            }
          }
        }
      }

      &__header {
        & h2 {

          & .header {
            &-left {
              display: none;

              &.active {
                display: block;
              }
            }

            &-right {
              display: block;

              &.active {
                display: none;
              }
            }
          }
        }
      }

      &-block {
        position: relative;
        height: inherit;

        &__item {
          position: fixed;
          left: -100%;

          & li {
            &+li {
              margin-top: 25px;
            }

            & a {
              font-size: 18px;
            }
          }

          &.active {
            left: 0;
          }
        }
      }
    }
  }
}

@media(max-width: 576px) {
  .banner {
    &-content {
      &-block {
        &__item {
          width: 100%;
        }
      }
    }
  }
}