.content {
  &-projects {
    &__block {
      &-banner {
        margin-bottom: 40px;

        &__item {
          height: 430px;

          & img {
            height: 430px;
            object-fit: cover;
          }
        }
      }

      &-img {
        .swiper-slide {
          width: 170px;
          height: 115px;
        }

        max-width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        & img {
          height: 115px;
          object-fit: cover;
        }
      }

      &-text {
        font-family: $roboto;

        & p+p {
          font-size: 18px;
          margin-top: 20px;
        }
      }
    }
  }
}


@media(max-width: 992px) {
  .content {
    &-projects {
      &__block {
        &-banner {
          display: none;
        }

        &-img {
          .swiper-slide {
            width: 100%;
            max-width: 280px;
          }

          & img {
            max-width: 280px;
            width: 100%;
          }
        }
      }
    }
  }
}