.content {
  &-advantages {
    padding: 100px 0 100px 0;

    &-block {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 45px;

      &__item {
        text-align: center;

        &-block {
          width: 100%;
          height: 175px;
          margin-bottom: 20px;
          background: $light-gray;
          @include flex-center
        }

        & h3 {
          font-size: 18px;
          font-weight: normal;
          font-family: 'Roboto', sans-serif;
        }
      }
    }
  }
}

@media(max-width: 992px) {
  .content {
    &-advantages {
      &-block {
        display: block;

        &__item {
          max-width: 280px;
          width: 100%;
          margin: 0 10px;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .content {
    &-advantages {
      &-block {
        &__item {
          margin: 0 10px;
        }
      }
    }
  }
}