.content {
  &-form {
    &__item {
      position: relative;
      padding: 100px 40px;
      margin: 0 -40px;

      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 22%;
        background: $light-gray;
      }

      & form {
        margin-bottom: 20px;

        & input {
          border-color: $text-color;
        }
      }

      & p {
        font-family: $roboto;
        font-size: 18px;
        color: $gray;
      }
    }
  }
}

@media(max-width: 992px) {
  .content {
    &-form {
      &__item {
        padding: 100px 15px;
        margin: 0 -15px;
      }
    }
  }
}