.content{
  &-portfolio{
    position: relative;
    .portfolio-section-slider {
      height: 441px;
      .open-slide {
        width: 436px!important;
      }
    }
  }
}

@media(max-width: 992px){
  .content{
    &-portfolio{
      .portfolio-section-slider{
        height: 582px;
      }
    }
  }
}