.content {
  &-service {
    position: relative;

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15%;
      width: 28%;
      background: $light-gray;
    }

    &__block {
      display: flex;
      justify-content: space-between;

      &-item {
        max-width: 310px;

        & img {
          margin-bottom: 20px;
        }

        & h4 {
          font-size: 29px;
          text-transform: uppercase;
          margin-bottom: 15px;
        }

        & a {
          display: flex;
          align-items: center;
          font-size: 18px;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          color: $gray;

          & img {
            margin: 0;
          }
        }
      }
    }
  }
}