.content {
  &-process {
    padding: 100px 40px;
    margin: 0 -40px;
    background: $light-gray;

    &__block {
      display: flex;
      justify-content: space-between;
    }

    &__nav {
      margin-right: 40px;
      height: 500px;

      &-item {
        width: 95px;
        height: 77px;
      }

      & img {
        height: 75px;
      }
    }

    &__for {
      width: 100%;
      width: calc(100% - (77px + 40px));
      height: 500px;

      & img {
        height: 100%;
        max-width: none;
        object-fit: cover;
        width: 100%;
      }

      &-item {
        display: flex;
        justify-content: center;
      }
    }

  }
}

@media(max-width: 992px) {
  .content {
    &-process {
      padding: 100px 15px;
      margin: 0 -15px;

      &__for {
        display: none;
      }

      &__nav{
        height: 280px;
        margin-right: unset;

        &-item {
          max-width: 280px;
          height: 280px;
        }

        & img {
          height: inherit;
        }
      }
    }
  }
}