.content {
  &-steps {
    padding-bottom: 100px;

    &__block {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 40px;

      &-item {

        &:nth-child(2n){
          padding-top: 40px;
        }

        &__box {
          width: 100%;
          height: 170px;
          margin-bottom: 20px;
          background: $light-gray;
          @include flex-center
        }

        & p {
          font-size: 18px;
          font-weight: normal;
          font-family: 'Roboto', sans-serif;
        }
      }
    }
  }
}

@media(max-width: 992px){
  .content{
    &-steps{
      &__block{
        display: block;
        &-item{
          &:nth-child(2n){
            padding-top: unset;
          }
          max-width: 280px;
          width: 100%;
          margin: 0 20px;
        }
      }
    }
  }
}

@media(max-width: 768px){
  .content{
    &-steps{
      &__block{
        &-item{
          margin: 0 10px;
        }
      }
    }
  }
}