extends ../layout/main

block variables
  -var title = 'Статьи'

block content
  .content-wrapper.articles-page
    section.articles-section
      .container
        .title-block
          .title-block__text
            h3.subtitle 
              span
              | про нас пишут
            h2.title статьи
          .title-block__buttons
            .slider-prev.articles-prev
              p назад
              img(src="../assets/img/slider-prev.svg", alt="")
            .slider-next.articles-next
              p Вперёд
              img(src="../assets/img/slider-next.svg", alt="")
        .articles-slider
          .articles-slider__item
            a(href="/")
              img(src="../assets/img/articles/article_1.jpg", alt="")
          .articles-slider__item
            a(href="/")
              img(src="../assets/img/articles/article_2.jpg", alt="")
          .articles-slider__item
            a(href="/")
              img(src="../assets/img/articles/article_3.jpg", alt="")
          .articles-slider__item
            a(href="/")
              img(src="../assets/img/articles/article_4.jpg", alt="")
          .articles-slider__item
            a(href="/")
              img(src="../assets/img/articles/article_1.jpg", alt="")






