.advantages {
  padding: 100px 0 50px 0;

  &-block {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 45px;

    &__item {
      text-align: center;

      &-block {
        width: 100%;
        height: 245px;
        margin-bottom: 48px;
        background: $light-gray;
        @include flex-center
      }

      & h3 {
        font-size: 28px;
        text-transform: uppercase;
      }
    }
  }
}

@media(max-width: 1201px) {
  .advantages {
    &-block {
      grid-gap: 30px;

      &__item {
        &-block {
          height: 180px;
          margin-bottom: 20px;

          & img {
            width: 70px;
          }
        }

        & h3 {
          font-size: 22px;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .advantages {
    &-block {
      display: unset;
      grid-template-columns: unset;
      grid-gap: unset;

      &__item {
        &+.advantages-block__item {
          margin-left: 20px;
        }

        &-block {
          height: 150px;
          width: 150px;
          margin-bottom: 15px;

          & img {
            width: 50px;
          }
        }

        & h3 {
          max-width: 150px;
          font-size: 18px;
        }
      }
    }
  }
}