.banner {
  position: relative;
  margin-top: 70px;
  height: calc(100vh - 70px);

  &-title {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 570px;
    font-size: 48px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

    &:hover {
      text-decoration-line: underline;
    }
  }

  &-mouse {
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, 0);
  }

  &-block {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: inherit;

    &__mobile {
      display: none;
    }

    &-bg {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: black;
      opacity: 0;
      transition: .5s;
    }

    &__item {
      position: relative;
      background-color: #cccccc;
      overflow: hidden;

      &-bg {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: black;
        opacity: 0.5;
        transition: .5s;
      }

      &-category {
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: -150px;
        transition: .5s;

        & h2 {
          z-index: 2;
          position: absolute;
          bottom: 60px;
          right: 0;
          font-size: 80px;
          transform: rotate(-90deg);

          & a {
            color: white;
          }
        }
      }

      & .active {
        right: 0;
      }

      &-submenu {
        position: absolute;
        bottom: -100%;
        z-index: 2;
        height: 100%;
        width: 100%;
        transition: .5s;

        &__header {
          display: flex;
          align-items: center;
          height: 60px;
          padding: 0 15px;
          background: #ECECEC;

          & h2 {
            font-size: 24px;
            text-transform: uppercase;
          }
        }

        &__body {
          max-height: calc(100% - 60px);
          padding: 25px 15px;
          overflow-y: scroll;

          & li {
            list-style: none;

            &+li {
              margin-top: 20px;
            }

            & a {
              color: white;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      & .active-menu {
        bottom: 0;
      }
    }
  }
}

@media(max-width: 1025px) {
  .banner {
    &-title {
      max-width: 470px;
      font-size: 40px;
    }
  }
}

@media(max-width: 992px) {
  .banner {
    &-mouse {
      display: none;
    }

    &-block {
      display: none;

      &__mobile {
        position: relative;
        display: block;
        height: inherit;

        &::before {
          content: '';
          @include absolute-full;
          background: black;
          opacity: 0.5;
        }
      }
    }
  }
}

@media(max-width: 576px) {
  .banner {
    &-title {
      max-width: 100%;
      width: 100%;
      padding: 0 15px;
      font-size: 32px;

    }
  }
}