.catalog-section {
  position: relative;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 66%;
    background: $light-gray;
  }

  & .title {
    max-width: 1350px;
    margin-bottom: 135px;
  }

  &__title {
    position: absolute;
    right: 60px;
    bottom: 120px;
    display: flex;
    flex-direction: column;
    color: $text-color;

    & h2 {
      font-size: 80px;
      text-transform: uppercase;
    }

    & img {
      margin-left: 120px;
    }
  }

  &__banner {
    width: 65vw;
    display: flex;
  }
}

@media(max-width: 1367px) {
  .catalog-section {
    &__title {

      & h2 {
        font-size: 56px;
      }

      & img {
        width: 220px;
        margin-left: 40px;
      }
    }
  }
}

@media(max-width: 1201px) {
  .catalog-section {
    &__title {
      right: 30px;
      bottom: 30px;

      & h2 {
        font-size: 46px;
        text-transform: uppercase;
      }
    }
  }
}

@media(max-width: 1025px) {
  .catalog-section {
    & .title {
      margin-bottom: 30px;
    }
  }
}

@media(max-width: 768px) {
  .catalog-section {
    padding: 100px 0 200px 0;
    
    &__title {
      right: 15px;
      

      & h2 {
        font-size: 32px;
      }

      & img {
        margin-left: 20px;
      }
    }

    &__banner {
      position: absolute;
      bottom: 0;
      left: -130px;
      width: 65vw;
      display: flex;
    }
  }
}

@media(max-width: 576px){
  .catalog-section{
    padding-bottom: 160px;
  }
}