.form {
  display: flex;
  background: $text-color;

  &-block {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 100px 0;

    & .title {
      color: white;
    }

    & form {
      display: flex;
      align-items: center;

      & div+div {
        margin-left: 45px;
      }

      & .button {
        padding-left: 47px;
        padding-right: 47px;
      }
    }
  }

  &-img {
    position: relative;
    width: 20%;

    &::before {
      content: '';
      z-index: 1;
      @include absolute-full;
      background: rgba(39, 39, 39, 0.6);
    }
  }
}

@media(max-width: 1367px) {
  .form {
    &-block {
      width: 100%;

      & form {
        & div {
          &+div {
            margin-left: 20px;
          }
        }
      }
    }

    &-img {
      display: none;
    }
  }
}

@media(max-width: 1201px) {
  .form {
    &-block {
      padding: 80px 0;
    }
  }
}

@media(max-width: 992px) {
  .form {
    &-block {
      padding: 80px 15px;
      justify-content: left;

      &__item {
        width: 100%;
      }

      & form {
        align-items: start;
        flex-direction: column;

        & div {
          max-width: 570px;
          width: 100%;

          & input {
            width: inherit;
          }

          & .button{
            width: inherit;
          }

          &+div {
            margin-left: 0;
            margin-top: 20px;
          }
        }
      }
    }
  }
}