.partners {
  padding: 100px 0;

  &-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-slider {
    max-width: calc(100% - 182px - 182px - 80px);
    margin: 0 40px;

    &__item {
      & div {
        width: 100%;
        height: 200px;
        @include flex-center
      }
    }
  }
}

@media(max-width: 1201px) {
  .partners {
    padding: 80px 0;

    &-slider {
      max-width: calc(100% - 145px - 145px - 40px);
      margin: 0 20px;

      &__item {
        & div {
          & img {
            width: 100px;
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .partners {
    &-block{
      margin-right: -15px;
    }
    &-slider {
      max-width: 100%;
      margin: 0 -10px;

      &__item {
        padding: 0 10px;
        & div {
          & img {
            width: 120px;
          }
        }
      }
    }
  }
}