.products {
  position: relative;
  padding: 100px 0;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    background: $light-gray;
  }

  &-slider {
    margin: 0 -20px;
    font-family: $roboto;

    & .slick-slide {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__item {
      &-info {
        margin-bottom: 15px;

        & img {
          width: 100%;
          margin-bottom: 15px;
        }

        & h4 {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }

    }
  }
}

@media(max-width: 1201px) {
  .products {
    padding: 80px 0;
  }
}

@media(max-width: 992px) {
  .products {
    &-slider {
      margin: 0 -15px;

      & .slick-slide {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}