.social-section {
  position: relative;
  padding: 0 0 100px 0;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    width: 38%;
    background: $light-gray;
  }

  &-block {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
      & img {
        width: 120px;
        height: 120px;
        filter: grayscale(100%);
        transition: .3s;

        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
}

@media(max-width: 1201px) {
  .social-section {
    padding: 0 0 80px 0;

    &-block {
      &__item {
        & img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

@media(max-width: 768px){
  .social-section {
    &-block {
      max-width: 100%;
      &__item{
        & img{
          width: 70px;
          height: 70px;
          filter: unset
        }
      }
    }
  }
}