.steps {
  padding: 100px 0;
  background: url('../img/setps-bg.jpg') 40% 62% no-repeat;
  background-position: 0 0;

  &-list {
    & li {
      display: flex;
      align-items: flex-end;

      &+li {
        margin-top: 10px;
      }
    }

    &__number {
      margin-right: 20px;
    }

    &__text {
      margin-bottom: 5px;
      display: block;
      font-size: 28px;
      cursor: default;

      & img {
        position: absolute;
        margin: 20px auto auto 15px;
        z-index: 100500;
        visibility: hidden;
        opacity: 0;
        transition: visibility ease 0s, opacity ease 1s;
      }
    }
  }
}

@media(max-width: 1201px) {
  .steps {
    padding: 80px 0;

    &-list {
      & li {
        align-items: center;
        &+li{
          margin-top: 15px;
        }
      }

      &__text {
        margin-bottom: 0;
        font-size: 22px;
      }
    }
  }
} 

@media(max-width: 992px) {
  .steps {
    &-list{
      &__text{
        & img{
          display: none;
        }
      }
    }
  }
}